html { 
	height: 100%
	}

body {
	height: 100%; 
	margin: 0; 
	padding: 0
	}

#map_canvas { 
	height: 100% 
}

/*Entire Search Box */
#usng_search {
    height: auto;
    position: absolute;
    left: 10%; /*these positions absolute? */
    /*Originally: bottom: 5%; */
    top: 1%;
    min-width:50%; /*this makes the div size to the page */
    padding: 2%;
    font-size:100%;
    visibility: visible;
    z-index: 50;
    /*rounded corners below */
    background-color:#c7d4e1;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing - end rounded corners */
}

#inputUSNGTxt,#inputAddrTxt {
	top:5px;
	position:relative;
	min-width:40%;
	visibility:visible;
}

#rdoUSNG,#inputUSNGTxt {
	float:right;
	margin:-10px 0 0 0;
}

#rdoAdd,#inputAddrTxt {
	float:left;
	margin:-10px 0 0 0;
}

#rdoAdd,#rdoUSNG {
	padding:5px 0 0 0;
	top:5px;
	position:relative;
}

#coordinateInfo,#debugZlev {
	float:right;
	margin:-5px 0 0 0;
}	

input[type=submit] {
	display:block;
	position:absolute;
	margin-left:40%;
	margin-right:40%;
}

.about {
	display:block;
	margin-left:40%;
	position:absolute;
	margin-top:25px;
	font-size: small;
	text-align: center;
}

#gridcheckbox {
	display:inline-block;
	top:3px;
	position:relative;
}

#drawing {
	display:none;
}

/*MIGHT DECIDE AGAINST USING THESE */
#searchAddLaunch,#searchUSNGLaunch {
    height: auto;
    position: absolute;
    left: 7%; /*these positions absolute? */
    top: 5%;
    /*min-width:15%; this makes the div size to the page */
    padding: 5px;
    font-size:120%;
    visibility: visible;
    z-index: 40;
    /*rounded corners below */
    background-color:#c7d4e1;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing - end rounded corners */

}

/*Classes for USNG labels
 * The element.style height and width on these labels is much bigger than we define with the CSS class.
 * How can we override that?
 *  */
.majorGridLabel {
	color: black;
    background-color:#9FAAB4; /*A nice pink would be #FFCCFF */
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    font-weight:bold;
    text-align: center;
    width: 25px;
}
.semiMajorGridLabel {
    color: blue;
    font-size: x-small;
    opacity: 1;
}
.minorGridLabel {
    color: blue;
    font-size: x-small;
    opacity: 0.7;
}
.fineGridLabel {
    color: blue;
    font-size: x-small;
    opacity: 0.7;
}
.majorGridLabel, .semiMajorGridLabel, .minorGridLabel, .fineGridLabel {
	text-shadow: 1px 1px 0px #ffffff,-1px -1px 0px #ffffff,1px -1px 0px #ffffff,-1px 1px 0px #ffffff;
	font-family: Arial;
}
